.title {
  font-size: 4rem;
  color: #a3a54f;
  border-radius: 10px;
  margin: 0.5rem;
  font-family: 'Colotus Personal Use', sans-serif;                                    
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.servicePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.8) 30%
    ),
    url('/bg-services.jpg');

  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: 100% 10%;
  height: 100vh;
}
