/* General */
.container {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.header {
  background-color: #000;
  color: white;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerContent {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.buttonEdit {
  background-color: #f59e0b;
  color: #000;
  transition: background-color 0.3s ease;
}

.buttonEdit:hover {
  background-color: #eab308;
}

/* Avatar */
.avatar {
  width: 6rem;
  height: 6rem;
  border: 2px solid #f59e0b;
}

.avatarFallback {
  background-color: #f59e0b;
  color: white;
}

/* Info */
.infoWrapper {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 1.5rem;
  font-weight: bold;
}

.userEmail {
  color: #6b7280;
}

.details {
  display: grid;
  gap: 1rem;
  margin-top: 1.5rem;
}

.detailsItem {
  display: flex;
  align-items: center;
  color: #374151;
}

.detailsItem span {
  margin-left: 0.5rem;
}

/* Icons */
.icon {
  color: #f59e0b;
}
