.container {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  color: #000000;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 5rem;
}

.filterInput,
.filterSelect {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.filterInput {
  flex-grow: 1;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #666;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  gap: 10px; 
  width: 100%;
}

.paginationInfo {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader,
.tableCell {
  padding: 10px;
  text-align: left;
}

.tableHeader {
  font-weight: bold;
}

.tableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.tableBody {
  padding: 10px;
}

.button {
  padding: 8px 12px;
  border: 1px solid #cccbcb;
  border-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.buttonOutline {
  border: 1px solid #333;
  background-color: transparent;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paginationLink {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.paginationLinkActive {
  background-color: #333;
  color: #fff;
}

.paginationLink:hover {
  background-color: #ddd;
}