.carouselContent {
  display: flex;
  justify-content: center;
  gap: 60px; 
  margin-bottom: 10rem;
  max-height: 60vh;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 26rem; 
  margin: 1rem ;
}

.cardContent {
  width: 100%;
  border: none;
  height: 100%;
}

.imageContainer {
  height: 10rem;
  width: 15rem; 
  border-radius: 0.75rem; 
  

}

.image {
  object-fit: cover;
}

.cardBody {
  padding: 16px;
  background-color: rgba(226, 231, 93, 0.338);
  border-radius: 0 0 0.75rem 0.75rem;
  color: #e0e0e0;
}

.cardTitle {
  font-size: 1.25rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
  
}

.cardDescription {
  font-size: 0.875rem; 
  margin-bottom: 0.5rem;
  color: #e0e0e0;

}



/* Estilos para los controles del carrusel */
.carouselPrevious,
.carouselNext {
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem; 
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.carouselPrevious {
  left: 10px;
}

.carouselNext {
  right: 10px;
}
