.searchBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  
  .titleSearchBar {
    font-size: 2rem;
    color: #b9db82;
    text-align: center;
  }
  
  .select {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-size: 1rem;
  }
  
  .input {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: #c9c9c9;
    max-width: 100%;
  }
  